.product-list-view-2 .product-wrapper .item .flower-price {
    margin-top: 10px;
    position: relative;
    text-align: center;
    font-size: 13px;
    color: #474747;
  }

  .img-fluid {
     width: 320px; /* chiều rộng mới */
     height: 280px; 
    
  }

  .img:hover{transform: scale(1.07);
  }

  