.site-footer
{
  background-color: black;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:white;
}

.landing-layout .landing-footer .container .copyright {
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
}