.product-description{
    border-bottom: 1px solid #e9ecef;
    position: relative;
    margin-bottom: 2px;
   
}

/* .product-title{
    color: blue;
    font-size: 22px;
 }
 .price{
    font-size: 22px;
} */


